
#about {
    color: white;
    width: 100%;
}
.about-info{
    margin: 40px;
}
.about-container{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px white;
    background-color: #00000078;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}