/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: rgba(51, 51, 51, 0.804); 
    padding: 15px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
    backdrop-filter: blur(10px); /* Add a blur effect to the background */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
}


#nav-logo{
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease-in-out;
    
}

#nav-logo:hover {
    transform: scale(1.1); /* Slight zoom effect */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1px; /* Space between links */
    margin-left: auto;
    
}

.nav-links a {
    text-decoration: none;
    color: white; /* Default link color */
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


/* Hover Effect for Links */
.nav-links a:hover {
    color: #09930E; /* Change color on hover */
    transform: scale(1.1); /* Slight zoom effect */
}





/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px 5px;
        align-items: center;
        
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none; /* Hide by default */
        gap: 15px;
    }

    .nav-links li {
        margin: 5px 0; 
    }

    .navbar:hover .nav-links {
        display: flex;
    }

    .nav-links a {
        font-size: 0.9rem; 
    }
}

@media screen and (max-width: 725px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }

    .nav-links a {
        font-size: 0.9rem; 
    }

    .logo {
        font-size: 1.2rem; 
    }

}



