

/* Set the body background to black */
body {
    margin: 0;
    padding: 0;
    background-color: black; /* Black background for the rest of the page */
    font-family: Arial, sans-serif;
    width: auto;
}

/* Style for #box1 as the background */
.box {
    position: fixed; /* Fixed position to cover the entire viewport */
    z-index: -1; /* Place it behind other content */

    
}

#box-top{
    
    width: 1000px;
    height: 488px;
    top: -71px;
    left: -408px;
    right: 160px;
    bottom: 0;
    rotate: 133deg;
    background: linear-gradient(0deg, #032D04, #09930E); /* Gradient background for the box */
}

#box-bottom{
    
    width: 400px;
    height: 2000px;
    top: -409px;
    left: 760px;
    right: 0;
    bottom: 0px;
    rotate: 403deg;
    background: linear-gradient(270deg, #032D04, #09930E); /* Gradient background for the box */
}

h2{
    color: white; 
}



/* -------------------------------------------- */

/* General Styles */
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}



.btn {
    width: auto;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 3px 3px 6px white;
}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 3px 3px 6px green;
}

section {
    justify-items: center;
}

h2 {
    margin-bottom: 1rem;
}
.section-header{
    text-align: center;
}


.site-end-footer{
    
    background: rgba(243, 243, 243, 0.582); 
    color: black;
    margin-top: 2rem;

    display: flex;
    flex-direction: column; /* Makes items align in a row */
    justify-content: center; /* Center the items */
    align-items: center; /* Align them vertically */
    position: absolute;
    width: 100%;
}
.site-end-links{
    margin: 0;
    display: flex;
    flex-direction: row; /* Makes items align in a row */
    justify-content: center; /* Center the items */
    align-items: center; /* Align them vertically */
    gap: 15px; /* Adds spacing between icons */
}

#social-link-image{
    width: 30px;
    height: 30px;
    display: inline-block;
}




header, .gallery-container {
    max-width: 100vw;
    overflow: hidden;
}

.menu-panel {
    max-width: 100vw;
}







@media (max-width: 768px) {
    #box-top {
        width: 500vw;
        height: 120vh;
        top: -88px;
        left: -1847px;
        rotate: 113deg;
    }

    #box-bottom {
        width: 500vw;
        height: 120vh;
        top: 769px;
        left: 453px;
        rotate: 23deg;
    }
}


@media (max-width: 600px) {
    #box-top {
        width: 500vw;
        height: 70vh;
        top: -88px;
        left: -1031px;
        rotate: 113deg;
    }

    #box-bottom {
        width: 500vw;
        height: 120vh;
        top: 303px;
        left: -232px;
        rotate: 113deg;
    }
}




