.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.service {
    background: #f4f4f4;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}