.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#skills{
    width: 100%;
}


.skill {
    background: #f4f4f4;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    box-shadow: 2px 5px 10px rgb(171, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skill > h2{
    text-align: center;
}

.skills-description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-text{
    width: 90%;
    font-size: 1.2rem;
    color: white;
    background-color: #00000078;
    border-radius: 20px;
    box-shadow: 3px 3px 6px white;
    text-align: center;
    
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 2px 5px 10px white;
        background: #000000;
        color: white;
    }
}


.skill:hover { 
    cursor: pointer;
    animation: loading 1s forwards ease-in-out;
}



@media screen and (max-width: 700px) {
    .skill {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (max-width: 460px) {
    .skill {
        width: 20vw;
        height: 20vw;
    }
}